<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://igniteafricalibrary.org/"/>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <!-- CSS Global -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/plugins/animate/animate.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/theme-green-1.css" rel="stylesheet" id="theme-config-link">

    <!-- Head Libs -->
    <script src="assets/plugins/modernizr.custom.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/plugins/iesupport/html5shiv.js"></script>
    <script src="assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="wide">


<!-- WRAPPER -->
<div class="wrapper">



    <!-- Header top bar -->
    <div class="top-bar">
        <div class="container">


        </div>
    </div>
    <!-- /Header top bar -->

    <!-- HEADER -->
    <header class="header fixed">
        <div class="header-wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="http://igniteafricalibrary.org/"><img src="assets/img/ignitelogo.png" alt="Ignite Africa Library"/></a>
                </div>
                <!-- /Logo -->

                <!-- Header search -->

                <!-- /Header search -->

                <!-- Header shopping cart -->

                <!-- Header shopping cart -->

            </div>
        </div>
        <div class="navigation-wrapper">
            <div class="container">
                <!-- Navigation -->

                <!-- /Navigation -->
            </div>
        </div>
    </header>
    <!-- /HEADER -->

    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- PAGE -->
        <section class="page-section text-center error-page">
            <div class="container">
                <h3>404</h3>
                <h2><i class="fa fa-warning"></i> Oops! The Page you requested was not found!</h2>
                <p><a class="btn btn-theme btn-theme-dark" href="http://igniteafricalibrary.org/">Back to Home</a></p>
            </div>
        </section>
        <!-- /PAGE -->



    </div>
    <!-- /CONTENT AREA -->

    <!-- FOOTER -->

    <!-- /FOOTER -->

    <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

</div>
<!-- /WRAPPER -->



</body>
</html>